# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.spec

# Node.js / React
node_modules/
gui/client/node_modules/
gui/client/dist/
gui/client/.env.local
gui/client/.env.development.local
gui/client/.env.test.local
gui/client/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET / C#
.vs/
gui/host/bin/
gui/host/obj/
*.user
*.userosscache
*.sln.docstates
*.suo
packages/

# Project Build Artifacts
dist/
build/
FinalBuild/
Output/
*_installer.exe

# Database & Logs
*.db
*.log
redlight.db

# OS
Thumbs.db
Desktop.ini
.DS_Store

ph_shorts.egg-info/
downloads/
AGENTS.md 
aria2c.exe
temp_segments/
*.mp4
*.mkv
*.webm
ph_shorts-2.1.0/